<div>
  <h1 class="text-center font-bold py-2 text-gray-700">Can't log in?</h1>
  <div *ngIf="emailSent">
    <div class="flex justify-center py-4">
      <img
        loading="lazy"
        class="w-40"
        src="/assets/svg/check-email.svg"
        alt="logo"
      />
    </div>
    <p>We sent a recovery link to you at</p>
    <p class="font-bold">{{ form.controls.email.value }}</p>
  </div>
  <form
    *ngIf="!emailSent"
    [formGroup]="form"
    novalidate
    class="space-y-4"
    (ngSubmit)="sendLink()"
  >
    <div>
      <div class="relative">
        <label for="email" class="block text-xs font-semibold my-2"
          >We'll send a recovery link to</label
        >

        <app-input
          [control]="this.form.controls.email"
          [placeholder]="'Enter the email'"
          [type]="'email'"
          [name]="'email'"
          [displayLabel]="false"
        ></app-input>
      </div>
    </div>
    <div>
      <app-button
        typeBtn="submit"
        color="success"
        [loading]="status === 'loading'"
        >Send Recovery Link</app-button
      >
    </div>
  </form>
</div>
