<div>
  <h1 class="text-center font-bold py-2 text-gray-700">¿No puedes iniciar?</h1>
  <div *ngIf="emailSent">
    <div class="flex justify-center py-4">
      <img
        loading="lazy"
        class="w-40"
        src="/assets/svg/check-email.svg"
        alt="logo"
      />
    </div>
    <p>Enviamos un link al siguiente correo</p>
    <p class="font-bold">{{ form.controls.email.value }}</p>
  </div>
  <form
    *ngIf="!emailSent"
    [formGroup]="form"
    novalidate
    class="space-y-4"
    (ngSubmit)="sendLink()"
  >
    <div>
      <div class="relative">
        <label for="email" class="block text-xs font-semibold my-2"
          >Enviaremos un link para recuperar la cuenta al correo
        </label>

        <app-input
          [control]="this.form.controls.email"
          [placeholder]="'Ingresa el correo'"
          [type]="'email'"
          [name]="'correo'"
          [displayLabel]="false"
        ></app-input>
      </div>
    </div>
    <div>
      <app-button
        typeBtn="submit"
        color="success"
        [loading]="status === 'loading'"
        >Recuperar cuenta</app-button
      >
    </div>
  </form>
</div>
