<div>
  <ng-container class="m-0" *ngIf="!emailSent; else emailSentTemplate">
    <div class="text-center font-bold font-montserrat text-[30px]">
      Recuperar cuenta
    </div>

    <div class="mt-4">
      Ingrese el correo electronico al que debemos enviarte el enlace que te
      permitira recuperar el acceso a tu cuenta
    </div>

    <form
      [formGroup]="form"
      novalidate
      class="space-y-4 mt-4"
      (ngSubmit)="sendLink()"
    >
      <div class="relative">
        <app-input
          [control]="this.form.controls.email"
          [type]="'email'"
          [name]="'correo'"
          [description]="' * Correo electrónico'"
          [displayLabel]="true"
        ></app-input>
      </div>
      <div>
        <app-button
          typeBtn="submit"
          color="success"
          [loading]="status === 'loading'"
        >
          Recuperar cuenta
        </app-button>
      </div>
    </form>
    <div class="pt-4 text-center font-montserrat text-[14px] text-gray-600">
      <p>
        ¿Recuerdas tu contraseña?
        <a
          routerLink="/login"
          class="text-[#418622] font-medium hover:underline dark:text-green-500"
        >
          Iniciar sesión
        </a>
      </p>
    </div>
  </ng-container>

  <ng-template #emailSentTemplate>
    <h1 class="text-center font-bold py-2 text-gray-700">Correo enviado</h1>
    <div class="flex justify-center py-4">
      <img
        loading="lazy"
        class="w-40"
        src="/assets/svg/check-email.svg"
        alt="logo"
      />
    </div>
    <p>Enviamos un link al siguiente correo</p>
    <p class="font-bold">{{ form.controls.email.value }}</p>

    <div class="text-center font-montserrat text-[14px] text-gray-600">
      <app-button
        routerLink="/login"
        color="success"
        class="text-[#418622] font-medium hover:underline dark:text-green-500"
      >
        Iniciar sesión
      </app-button>
    </div>
  </ng-template>
</div>
