<div
  class="w-full lg:container lg:mx-auto lg:p-5 lg:max-w-md"
  *ngIf="user$ | async as user"
>
  <div class="bg-white shadow-lg rounded-lg p-6">
    <!-- Si NO está en modo de edición -->
    <ng-container *ngIf="!isEditing; else editMode">
      <!-- Profile Photo Section -->
      <div class="flex justify-center mb-4">
        <div
          class="w-24 h-24 rounded-full bg-gray-200 flex items-center justify-center"
        >
          <img
            *ngIf="user.profileImage"
            [src]="user.profileImage"
            alt="Foto de perfil"
            class="w-full h-full rounded-full object-cover"
          />
          <i
            *ngIf="!user.profileImage"
            class="fas fa-user text-gray-500 text-4xl"
          ></i>
        </div>
      </div>

      <!-- User Info Display -->
      <p><strong>Nombre:</strong> {{ user.name | titlecase }}</p>
      <p><strong>Apellidos:</strong> {{ user.lastname | titlecase }}</p>
      <p><strong>Correo electrónico:</strong> {{ user.email }}</p>
      <p>
        <strong>Fecha de nacimiento:</strong>
        {{ user.birthdate | date : "dd/MM/yyyy" }}
      </p>
      <p>
        <strong>Tipo de identificación:</strong>
        <span *ngIf="initialData">
          {{
            getIdentificationTypeDescription(
              user?.documentType,
              initialData.documentTypes
            ) | capitalizeFirstWord
          }}
        </span>
      </p>
      <p><strong>Número de identificación:</strong> {{ user.document }}</p>
      <p>
        <strong>Teléfono:</strong>
        {{ user.userPhones[0].phoneNumber }}
      </p>
      <p><strong>Género:</strong> {{ getGenderDescription(user.gender) }}</p>
      <p>
        <strong>Habilitar notificaciones:</strong>
        {{ user.allowNotification == "T" ? "Sí" : "No" }}
      </p>

      <!-- Botón Editar -->
      <div class="text-center mt-4">
        <button
          (click)="toggleEdit()"
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
        >
          Editar
        </button>
      </div>
    </ng-container>

    <!-- Modo de edición -->
    <ng-template #editMode>
      <div class="flex justify-center mb-4 relative">
        <!-- Imagen de perfil -->
        <div
          class="w-24 h-24 rounded-full bg-gray-200 flex items-center justify-center relative"
        >
          <img
            *ngIf="userEditable.profileImage"
            [src]="userEditable.profileImage"
            alt="Foto de perfil"
            class="w-full h-full rounded-full object-cover"
          />
          <i
            *ngIf="!userEditable.profileImage"
            class="fas fa-user text-gray-500 text-4xl"
          ></i>

          <!-- Botón para subir/gestionar imagen -->
          <label
            (click)="onUploadButtonClick($event)"
            class="absolute bottom-1 right-1 bg-blue-500 text-white w-6 h-6 rounded-full flex items-center justify-center cursor-pointer shadow-lg hover:bg-blue-600"
          >
            <i class="fas fa-camera text-xs"></i>
          </label>
        </div>

        <!-- Menú de opciones -->
        <div
          *ngIf="showMenu && userEditable.profileImage"
          class="absolute bottom-10 right-0 bg-white border rounded shadow-lg z-50"
        >
          <button
            (click)="onSelectPhoto()"
            class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
          >
            Seleccionar foto
          </button>
          <button
            (click)="onDeletePhoto()"
            class="block w-full text-left px-4 py-2 text-sm text-red-600 hover:bg-red-100"
          >
            Eliminar foto
          </button>
        </div>

        <!-- Input oculto para subir la foto -->
        <input
          id="upload-photo"
          type="file"
          class="hidden"
          (change)="onPhotoSelected($event)"
          accept="image/*"
        />
      </div>

      <form (ngSubmit)="onSubmit()">
        <!-- Editable Form Fields -->
        <div class="mb-4">
          <label for="name" class="block font-semibold">Nombre</label>
          <input
            id="name"
            type="text"
            [(ngModel)]="userEditable.name"
            name="name"
            class="border rounded p-2 w-full"
          />
        </div>

        <div class="mb-4">
          <label for="lastname" class="block font-semibold">Apellido</label>
          <input
            id="lastname"
            type="text"
            [(ngModel)]="userEditable.lastname"
            name="lastname"
            class="border rounded p-2 w-full"
          />
        </div>

        <!-- Campo email en modo lectura -->
        <div class="mb-4">
          <label for="email" class="block font-semibold"
            >Correo Electrónico</label
          >
          <input
            id="email"
            type="email"
            [(ngModel)]="userEditable.email"
            name="email"
            class="border rounded p-2 w-full bg-gray-100"
            disabled
          />
        </div>

        <div class="mb-4">
          <label for="birthday" class="block font-semibold">Cumpleaños</label>
          <input
            id="birthday"
            type="date"
            [(ngModel)]="userEditable.birthdate"
            name="birthday"
            class="border rounded p-2 w-full"
          />
        </div>

        <div class="mb-4">
          <label for="idType" class="block font-semibold"
            >Tipo de Identificación</label
          >
          <select
            id="idType"
            [(ngModel)]="userEditable.documentType"
            name="idType"
            class="border rounded p-2 w-full bg-gray-100"
            disabled
          >
            <!-- Muestra los tipos de documento del initialSignUpData -->
            <option
              *ngFor="let documentType of initialData.documentTypes"
              [value]="documentType.id"
              [selected]="documentType.id === userEditable.documentType"
            >
              {{ documentType.description | titlecase }}
            </option>
          </select>
        </div>

        <!-- Campo número de identificación en modo lectura -->
        <div class="mb-4">
          <label for="idNumber" class="block font-semibold"
            >Número de identificación</label
          >
          <input
            id="idNumber"
            type="text"
            [(ngModel)]="userEditable.document"
            name="idNumber"
            class="border rounded p-2 w-full bg-gray-100"
            disabled
          />
        </div>

        <div class="mb-4">
          <label for="phoneType" class="block font-semibold"
            >Tipo de teléfono</label
          >
          <select
            id="phoneType"
            *ngIf="
              userEditable.userPhones && userEditable.userPhones.length > 0
            "
            [(ngModel)]="userEditable.userPhones[0].phoneType"
            name="phoneType"
            class="border rounded p-2 w-full"
          >
            <!-- Muestra los tipos de teléfono del initialSignUpData -->
            <option
              *ngFor="let phoneType of initialData.phoneTypes"
              [value]="phoneType.id"
              [selected]="phoneType.id === userEditable.userPhones[0].phoneType"
            >
              {{ phoneType.description }}
            </option>
          </select>
        </div>

        <div class="mb-4">
          <label for="phoneNumber" class="block font-semibold"
            >Número de Teléfono</label
          >
          <input
            id="phoneNumber"
            type="text"
            *ngIf="
              userEditable.userPhones && userEditable.userPhones.length > 0
            "
            [(ngModel)]="userEditable.userPhones[0].phoneNumber"
            name="phoneNumber"
            class="border rounded p-2 w-full"
            maxlength="10"
          />
        </div>

        <div class="mb-4">
          <label for="gender" class="block font-semibold">Género</label>
          <select
            id="gender"
            [(ngModel)]="userEditable.gender"
            name="gender"
            class="border rounded p-2 w-full"
          >
            <!-- Muestra los géneros del initialSignUpData -->
            <option
              *ngFor="let gender of initialData.genders"
              [value]="gender"
              [selected]="gender === userEditable.gender"
            >
              {{ gender | titlecase }}
            </option>
          </select>
        </div>

        <div class="flex items-center mb-4">
          <input
            type="checkbox"
            id="enable-notifications"
            [(ngModel)]="userEditable.allowNotification"
            name="notificationsEnabled"
            class="mr-2 cursor-pointer"
          />
          <label for="enable-notifications" class="cursor-pointer"
            >Habilitar notificaciones</label
          >
        </div>

        <div class="flex flex-col sm:flex-row justify-between">
          <button
            type="submit"
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 mb-2 sm:mb-0"
          >
            Guardar cambios
          </button>
          <button
            type="button"
            (click)="cancel()"
            class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600"
          >
            Cancelar
          </button>
        </div>
      </form>
    </ng-template>
  </div>
</div>
