<div class="bg-white rounded-lg shadow-lg p-6 max-w-md w-full">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-lg font-semibold">Reserva grupal</h2>
  </div>
  <p class="text-gray-600 mb-4">
    La reserva seleccionada pertenece a un grupo de reservas.
  </p>

  <div
    class="flex justify-center space-x-2 mb-6"
    *ngIf="groupReservationInfo$ | async as groupReservationInfo"
  >
    <button
      class="border border-gray-400 text-gray-600 font-semibold py-2 px-4 rounded-md"
      [ngClass]="{
        'bg-blue-500 text-white hover:bg-blue-700':
          data.reservationInfo.hour ===
          (individualReservation.dateTime | timeFormat),
        'bg-gray-100 hover:bg-gray-200':
          data.reservationInfo.hour !==
          (individualReservation.dateTime | timeFormat)
      }"
      *ngFor="
        let individualReservation of groupReservationInfo.individualReservationsId
      "
    >
      {{ individualReservation.dateTime | timeFormat }}
    </button>
  </div>

  <div class="flex justify-between space-x-3">
    <app-button
      [typeBtn]="'submit'"
      [color]="'light'"
      (click)="cancelGroupReservation()"
      >Cancel grupo de reservas</app-button
    >

    <app-button
      [typeBtn]="'submit'"
      [color]="'danger'"
      (click)="cancelSelectedReservation()"
      >Cancelar reserva seleccionada</app-button
    >
  </div>
</div>
