<div *ngIf="!(cancelReservationAdminLoading$ | async); else loading">
  <div
    class="bg-white rounded-lg shadow-lg p-4 w-full max-w-full sm:p-6 sm:max-w-md"
  >
    <!-- Contenedor del título y botones -->
    <div class="flex justify-between items-center mb-3 sm:mb-4">
      <h2 class="text-base font-semibold sm:text-lg">Reserva grupal</h2>
    </div>

    <!-- Descripción -->
    <p class="text-gray-600 mb-3 sm:mb-4">
      La reserva seleccionada pertenece a un grupo de reservas.
    </p>

    <!-- Botones de reserva individual -->
    <div
      class="flex justify-center space-x-2 mb-4 sm:mb-6"
      *ngIf="groupReservationInfo$ | async as groupReservationInfo"
    >
      <button
        class="border border-gray-400 text-gray-600 font-semibold py-2 px-3 rounded-md text-sm sm:text-base"
        [ngClass]="{
          'bg-blue-500 text-white hover:bg-blue-700':
            data.reservationInfo.hour === individualReservation.dateTime,
          'bg-gray-100 hover:bg-gray-200':
            data.reservationInfo.hour !== individualReservation.dateTime
        }"
        *ngFor="
          let individualReservation of groupReservationInfo.individualReservations
        "
      >
        {{ individualReservation.dateTime | hourTimeFormat }}
      </button>
    </div>

    <!-- Botones de acciones -->
    <div
      class="flex flex-col space-y-2 sm:flex-row sm:justify-between sm:space-x-3 sm:space-y-0"
    >
      <!-- Botón cancelar grupo -->
      <app-button
        [typeBtn]="'submit'"
        [color]="'light'"
        (click)="cancelGroupReservation()"
        class="py-2 px-4 text-sm sm:text-base"
      >
        Cancel grupo de reservas
      </app-button>

      <!-- Botón cancelar reserva seleccionada -->
      <app-button
        [typeBtn]="'submit'"
        [color]="'danger'"
        (click)="cancelSelectedReservation()"
        class="py-2 px-4 text-sm sm:text-base"
      >
        Cancelar reserva seleccionada
      </app-button>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loader [message]="'Cancelando la reserva...'"></app-loader>
</ng-template>
