<form
  [formGroup]="authenticationForm"
  novalidate
  action="#"
  (ngSubmit)="validateToken()"
>
  <div>
    <div>
      <app-input
        [control]="tokenControl"
        [name]="'token'"
        [type]="'text'"
        [placeholder]="'Enter the code'"
        [showLabel]="false"
      ></app-input>
    </div>
    <div class="pt-3">
      <app-button
        typeBtn="submit"
        color="success"
        [loading]="status === 'loading'"
        >Validate Code</app-button
      >
    </div>
  </div>
</form>
