<form
  [formGroup]="authenticationForm"
  novalidate
  action="#"
  (ngSubmit)="validateToken()"
>
  <div>
    <div>
      <app-input
        [control]="tokenControl"
        [name]="'token'"
        [type]="'text'"
        [placeholder]="'Ingresa el código'"
        [displayLabel]="false"
      ></app-input>
    </div>
    <div class="pt-3">
      <app-button
        typeBtn="submit"
        color="success"
        [loading]="(loading$ | async)!"
        >Validar el código</app-button
      >
    </div>
  </div>
</form>
