<div
  class="mx-auto max-w-md h-auto w:auto md:w-[27rem] overflow-hidden rounded-lg bg-white shadow-lg border border-[#2c6d1b] relative"
>
  <!-- Etiqueta "Seleccionado" que se muestra solo si el checkbox está seleccionado -->
  <div
    *ngIf="isChecked"
    class="absolute top-0 right-0 m-2 bg-[#418622] text-white px-2 py-1 rounded"
  >
    Seleccionado
  </div>

  <div class="flex h-full">
    <!-- Asegúrate de que el contenido ocupe toda la altura -->
    <div class="flex items-center justify-between p-4">
      <input
        type="checkbox"
        id="reservation-checkbox"
        class="h-6 w-6 checkbox-custom"
        (change)="onCheckboxChange($event)"
      />
      <label for="reservation-checkbox" class="sr-only">Seleccionar</label>
    </div>
    <div class="w-full pl-1 pr-4 pb-1 2xl:pb-4 2xl:pr-16">
      <div class="pt-3 pb-3 text-left text-[#418622]">
        <span class="text-2xl font-semibold">
          {{ availableSlotInfo.initialDateTime | timeFormat }} -
          {{ availableSlotInfo.endDateTime | timeFormat }}
        </span>
      </div>
      <div class="flex justify-between">
        <div>
          <div class="block">
            <span class="font-bold">Lugar:</span>
          </div>
          <div>
            <span class="text-gray-600">{{ availableSlotInfo.club }}</span>
          </div>
        </div>

        <div>
          <div class="block">
            <span class="font-bold">Tipo de cancha:</span>
          </div>
          <div>
            <span class="text-gray-600">Polvo de ladrillo</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
