<div class="mb-5" *ngIf="selectGetUserMatchesStatus$ | async as matchesData">
  <div
    *ngIf="
      matchesData.userMatch && matchesData.userMatch.length > 0;
      else noMatches
    "
  >
    <div class="flex flex-wrap justify-start gap-4">
      <div
        class="w-full sm:w-[200px] md:w-[450px]"
        *ngFor="let match of matchesData.userMatch"
      >
        <app-match-result-card
          [matchData]="match"
          [userCanConfirm]="false"
        ></app-match-result-card>
      </div>
    </div>
  </div>
  <ng-template #noMatches>
    <div class="text-center text-gray-500">
      <p>
        Aún no has publicado un partido. ¡Anímate a publicar el primero desde la
        opción 'Publicar Resultado'!
      </p>
    </div>
  </ng-template>
</div>
