<div class="flex items-center border-b-4 border-gray-300">
  <div class="text-4xl font-bold mb-5 mr-5">Reservas del club</div>
  <div>
    <input
      name="appointmentDate"
      type="date"
      [(ngModel)]="selectedDate"
      (change)="onDateChange($event)"
      class="p-2 border rounded mb-5"
    />
  </div>
</div>

<div *ngIf="reservations$ | async as reservations">
  <table class="table-auto border-collapse border border-gray-300 w-full">
    <thead>
      <tr>
        <th
          *ngFor="let header of reservations.reservationHeaders"
          class="border px-4 py-2 text-center"
        >
          {{ header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of reservations.reservationsData">
        <td class="border px-4 py-2 text-center">
          {{ row.reservations[0].description }}
        </td>
        <td
          *ngFor="let reservation of row.reservations.slice(1)"
          class="border px-4 py-2 text-center cursor-pointer"
          [ngClass]="{
            'text-green-700': reservation.description === 'Disponible',
            'text-red-600': reservation.description === 'No disponible',
            'text-yellow-500':
              reservation.description !== 'Disponible' &&
              reservation.description !== 'No disponible'
          }"
          (click)="
            onReservationClick(
              reservation,
              row.reservations[0].description || ''
            )
          "
        >
          {{ reservation.description }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Mostramos un mensaje en caso de que no haya datos disponibles aún -->
<div *ngIf="!(reservations$ | async)">
  <p class="text-center text-gray-500">Cargando reservas...</p>
</div>
