<div
  class="flex flex-col items-start border-b-4 border-gray-300 mb-5 md:flex-row md:items-center"
>
  <div class="text-xl font-bold mb-3 md:text-4xl md:mr-5">
    Reservas del club
  </div>
  <div>
    <input
      name="appointmentDate"
      type="date"
      [(ngModel)]="selectedDate"
      (change)="onDateChange($event)"
      class="p-2 border rounded w-full md:w-auto"
    />
  </div>
</div>

<div *ngIf="clubReservationLoading$ | async; else content">
  <app-loader [message]="'Cargando reservas'"></app-loader>
</div>

<ng-template #content>
  <div *ngIf="reservations$ | async as reservations; else loading">
    <div *ngIf="reservations.reservationsData.length > 0; else noReservations">
      <div class="overflow-x-auto">
        <table class="table-auto border-collapse border border-gray-300 w-full">
          <thead>
            <tr>
              <th
                *ngFor="let header of reservations.reservationHeaders"
                class="border px-2 py-1 text-center text-sm md:px-4 md:py-2 md:text-base"
              >
                {{ header }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let row of reservations.reservationsData; let i = index"
              class="hover:bg-gray-100"
              [ngClass]="{
                'bg-gray-100': isPastTime(row.reservations[0].description),
                'bg-red-100': isCurrentTimeSlot(
                  row.reservations[0].description,
                  i
                ),
                'text-gray-500':
                  isPastTime(row.reservations[0].description) ||
                  isCurrentTimeSlot(row.reservations[0].description, i)
              }"
            >
              <td
                class="border px-2 py-1 text-center text-sm md:px-4 md:py-2 md:text-base"
                [ngClass]="{
                  'bg-gray-100': isPastTime(row.reservations[0].description),
                  'bg-red-100': isCurrentTimeSlot(
                    row.reservations[0].description,
                    i
                  ),
                  'text-gray-500':
                    isPastTime(row.reservations[0].description) ||
                    isCurrentTimeSlot(row.reservations[0].description, i),
                  'hover:bg-none': true
                }"
              >
                {{ row.reservations[0].description }}
              </td>

              <td
                *ngFor="let reservation of row.reservations.slice(1)"
                class="border px-2 py-1 text-center text-sm md:px-4 md:py-2 md:text-base"
                [ngClass]="{
                  'cursor-not-allowed pointer-events-none':
                    isPastTime(row.reservations[0].description) ||
                    isCurrentTimeSlot(row.reservations[0].description, i),
                  'cursor-pointer':
                    !isPastTime(row.reservations[0].description) &&
                    !isCurrentTimeSlot(row.reservations[0].description, i),
                  'text-green-700':
                    reservation.description === 'Disponible' &&
                    !isPastTime(row.reservations[0].description) &&
                    !isCurrentTimeSlot(row.reservations[0].description, i),
                  'text-red-600':
                    reservation.description === 'No disponible' &&
                    !isPastTime(row.reservations[0].description) &&
                    !isCurrentTimeSlot(row.reservations[0].description, i),
                  'text-yellow-500':
                    reservation.description !== 'Disponible' &&
                    reservation.description !== 'No disponible',
                  'bg-gray-100': isPastTime(row.reservations[0].description),
                  'bg-red-100': isCurrentTimeSlot(
                    row.reservations[0].description,
                    i
                  ),

                  'hover:bg-none':
                    isPastTime(row.reservations[0].description) ||
                    isCurrentTimeSlot(row.reservations[0].description, i)
                }"
                (click)="
                  isPastTime(row.reservations[0].description) ||
                  isCurrentTimeSlot(row.reservations[0].description, i)
                    ? null
                    : onReservationClick(
                        reservation,
                        row.reservations[0].description || ''
                      )
                "
              >
                {{ reservation.description }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #noReservations>
      <div class="text-center text-gray-500">
        No hay reservas pendientes por el día de hoy.
      </div>
    </ng-template>
  </div>

  <ng-template #loading>
    <app-loader [message]="'Cargando reservas'"></app-loader>
  </ng-template>

  <div *ngIf="error" class="text-center text-red-500">
    Error al cargar las reservas. Por favor, inténtelo de nuevo más tarde.
  </div>
</ng-template>
