<div>
  <div left-section>
    <div class="flex items-start justify-center mb-[64px] py-[16px]">
      <img
        src="../../../../../assets/svg/FOREHAPP.svg"
        alt="ForehApp Logo"
        class="h-auto max-h-[80px] w-auto max-w-[297px] object-contain"
      />
    </div>
    <div class="w-full flex items-center justify-center mb-5">
      <div class="font-bold text-gray-800 text-[40px] font-montserrat">
        Bienvenido
      </div>
    </div>
    <p class="text-gray-600 mb-[32px] text-center font-montserrat text-[16px]">
      Ingresa a tu cuenta o crea una nueva.
    </p>
    <app-login-form></app-login-form>
    <div class="flex justify-center mt-5 font-montserrat text-[16px]">
      <div>
        Aun no tengo una cuenta.
        <a
          routerLink="/register"
          class="font-medium text-[#418622] hover:underline"
        >
          Registrarme
        </a>
      </div>
    </div>
    <div
      class="text-gray-600 text-sm text-center mt-4 font-montserrat text-[16px]"
    >
      Al iniciar sesión o crear una cuenta, aceptas estar de acuerdo con
      nuestros
      <a href="#" class="text-[#418622] hover:underline"
        >términos y condiciones</a
      >
      y nuestra
      <a href="#" class="text-[#418622] hover:underline"
        >política de privacidad</a
      >.
    </div>
  </div>
</div>
