<div>
  <label
    for="email"
    class="block mb-2 text-sm font-medium text-gray-900 "
    >{{ description || functions.splitAndCapitalizeFirstLetter(name) }}</label
  >
  <select
    [formControl]="control"
    [id]="name"
    [ngClass]="{
      'border-red-500': shouldApplyRedBorder(),
      'bg-gray-200': !shouldApplyRedBorder(),
      'border border-gray-300': true,
      'text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5': true,
      'bg-white': (control.valid && control.dirty) || control.value !== ''
    }"
  >
    <option value>
      {{ description || functions.splitAndCapitalizeFirstLetter(name) }}
    </option>
    <option *ngFor="let option of options" [value]="option?.id || option">
      {{
        functions.splitAndCapitalizeFirstLetter(option?.description || "") ||
          functions.splitAndCapitalizeFirstLetter(option?.toString() || "")
      }}
    </option>
  </select>
  <div *ngIf="blurred">
    <app-error-message [control]="control"></app-error-message>
  </div>
</div>
