<div class="h-full w-full">
  <div class="flex items-center rounded-md p-2">
    <div class="w-full">
      <fa-icon
        [icon]="faSearch"
        class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500"
        *ngIf="showIcon"
      ></fa-icon>

      <input
        id="user"
        type="text"
        [placeholder]="message"
        [ngClass]="{
          'pl-7': showIcon,
          'outline-none border border-gray-300 rounded-md p-2 w-full text-gray-700 text-sm sm:text-base': true
        }"
        [formControl]="userControl"
        [matAutocomplete]="auto"
      />
    </div>

    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onUserSelected($event.option.value)"
      [displayWith]="displayUserName"
    >
      <mat-option
        *ngFor="let user of filteredUsers$ | async; trackBy: trackByUserId"
        [value]="user"
      >
        {{ user.completeName }}
      </mat-option>

      <!-- Opción para crear usuario cuando la lista es vacía -->
      <mat-option
        *ngIf="
          allowCreateUser &&
          (filteredUsers$ | async)?.length === 0 &&
          userControl.value &&
          !isnewUser &&
          !(loadingUsers$ | async)
        "
        (click)="openCreateUserModal()"
      >
        <em>Crear nuevo usuario</em>
      </mat-option>

      <mat-option
        *ngIf="
          !allowCreateUser &&
          queryCompleted &&
          (filteredUsers$ | async)?.length === 0 &&
          userControl.value &&
          !(loadingUsers$ | async)
        "
        disabled
      >
        <em>No se encontró usuario</em>
      </mat-option>
    </mat-autocomplete>
  </div>
</div>
