<div class="mb-4 sm:mb-6">
  <div class="flex items-center border border-gray-300 rounded-md p-2">
    <input
      id="user"
      type="text"
      placeholder="Empieza a escribir"
      class="outline-none flex-grow text-gray-700 text-sm sm:text-base"
      [formControl]="userControl"
      [matAutocomplete]="auto"
    />

    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onUserSelected($event.option.value)"
      [displayWith]="displayUserName"
    >
      <mat-option
        *ngFor="let user of filteredUsers$ | async; trackBy: trackByUserId"
        [value]="user"
      >
        {{ user.completeName }}
      </mat-option>

      <!-- Opción para crear usuario cuando la lista es vacía -->
      <mat-option
        *ngIf="
          allowCreateUser &&
          (filteredUsers$ | async)?.length === 0 &&
          userControl.value &&
          !isnewUser &&
          !(loadingUsers$ | async)
        "
        (click)="openCreateUserModal()"
      >
        <em>Crear nuevo usuario</em>
      </mat-option>

      <mat-option
        *ngIf="
          !allowCreateUser &&
          queryCompleted &&
          (filteredUsers$ | async)?.length === 0 &&
          userControl.value &&
          !(loadingUsers$ | async)
        "
        disabled
      >
        <em>No se encontró usuario</em>
      </mat-option>
    </mat-autocomplete>
  </div>
</div>
