<ng-container *ngIf="user$ | async as user">
  <nav class="bg-green-700 border-gray-200 px-4 py-3 shadow-md">
    <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center">
      <!-- Sección izquierda: Logo y menú principal -->
      <div class="flex items-center justify-between w-full sm:w-auto">
        <!-- Logo -->
        <a routerLink="/app">
          <img
            loading="lazy"
            class="mr-4"
            src="/assets/svg/FOREHAPP.svg"
            alt="logo"
            style="height: 44px"
          />
        </a>

        <!-- Botones principales para móviles y desktop -->
        <div class="flex items-center space-x-4">
          <!-- Siempre visible: Inicio -->
          <app-button
            typeBtn="button"
            color="navbar"
            (click)="redirectToDashboard()"
          >
            Inicio
          </app-button>
          <!-- Siempre visible: Crear Reserva -->
          <app-button typeBtn="button" color="navbar" (click)="OpenDialog()">
            Crear Reserva
          </app-button>
          <app-button
            typeBtn="button"
            color="navbar"
            (click)="openPostResult()"
          >
            Publicar resultado
          </app-button>
        </div>

        <!-- Botón de menú hamburguesa para móviles -->
        <div class="sm:hidden">
          <button
            type="button"
            class="text-white ml-4"
            (click)="isOpenMobileMenu = !isOpenMobileMenu"
          >
            <fa-icon [icon]="faBars"></fa-icon>
          </button>
        </div>
      </div>

      <!-- Opciones visibles en desktop -->
      <div
        class="hidden sm:flex sm:items-center sm:space-x-6 w-full sm:w-auto justify-end"
      >
        <!-- Botones adicionales: Configuración y Reportes -->
        <div class="flex space-x-2" *ngIf="user?.role === 2">
          <app-button
            typeBtn="button"
            color="navbar"
            (click)="redirectToConfigurationComponent()"
          >
            Configuración club
          </app-button>
          <app-button
            typeBtn="button"
            color="navbar"
            (click)="redirectToReportComponent()"
          >
            Reportes
          </app-button>
        </div>

        <!-- Botón de usuario en desktop -->
        <div class="flex space-x-2">
          <app-button
            typeBtn="button"
            color="navbar"
            aria-expanded="false"
            (click)="isOpenOverlayAvatar = !isOpenOverlayAvatar"
            cdkOverlayOrigin
            #menuOverlay="cdkOverlayOrigin"
          >
            <fa-icon [icon]="faUser"></fa-icon>
          </app-button>
        </div>
      </div>
    </div>

    <!-- Menú colapsable para móviles -->
    <div
      *ngIf="isOpenMobileMenu"
      class="flex flex-col sm:hidden space-y-2 mt-3"
    >
      <!-- Opciones adicionales -->
      <app-button
        typeBtn="button"
        color="navbar"
        (click)="redirectToConfigurationComponent()"
        *ngIf="user?.role === 2"
      >
        Configuración club
      </app-button>
      <app-button
        typeBtn="button"
        color="navbar"
        (click)="redirectToReportComponent()"
        *ngIf="user?.role === 2"
      >
        Reportes
      </app-button>
      <app-button
        typeBtn="button"
        color="navbar"
        (click)="isOpenOverlayAvatar = !isOpenOverlayAvatar"
        cdkOverlayOrigin
        #menuOverlay="cdkOverlayOrigin"
      >
        <fa-icon [icon]="faUser"></fa-icon>
      </app-button>
    </div>
  </nav>
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="menuOverlay"
    [cdkConnectedOverlayOpen]="isOpenOverlayAvatar"
    (overlayOutsideClick)="isOpenOverlayAvatar = !isOpenOverlayAvatar"
  >
    <div
      class="z-50 my-4 w-full sm:w-60 text-base list-none bg-white rounded divide-y divide-gray-100 shadow"
    >
      <div class="py-2 px-4 text-center relative">
        <button
          (click)="isOpenOverlayAvatar = !isOpenOverlayAvatar"
          class="block text-sm text-gray-900 absolute right-3 top-3"
        >
          <fa-icon [icon]="faClose"></fa-icon>
        </button>
      </div>
      <div class="py-3 px-4 flex items-center space-x-4">
        <div class="space-y-1">
          <div class="text-lg font-semibold text-gray-900">
            {{ user?.name }} {{ user?.lastname }}
          </div>
          <div class="text-sm text-gray-500">{{ user?.email }}</div>
        </div>
      </div>
      <ul class="py-1">
        <li>
          <a
            routerLink="/app/profile"
            class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100"
            (click)="redirectToUserInformation()"
            >Perfil</a
          >
        </li>
      </ul>
      <ul class="py-1">
        <li>
          <button
            class="block py-2 px-4 text-sm text-gray-700"
            (click)="logout()"
          >
            Cerrar sesión
          </button>
        </li>
      </ul>
    </div>
  </ng-template>
</ng-container>
