<div class="full mx-auto p-6 bg-white text-black min-h-screen font-sans">
  <div
    class="flex flex-col md:flex-row items-center justify-between bg-gradient-to-r from-white to-gray-100 p-4 md:p-8 rounded-xl shadow-xl text-green-700"
  >
    <div>
      <!-- Sección de perfil e información -->
      <div class="flex flex-col md:flex-row items-center gap-4 md:gap-6 w-full">
        <!-- Imagen de perfil -->
        <div
          class="w-24 h-24 md:w-32 md:h-32 rounded-full bg-gray-300 flex items-center justify-center shadow-md overflow-hidden"
        >
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnQ1Ck7996V7SxZI9ApQEPunJmGmscVUU6Jg&s"
            alt="Foto de perfil"
            class="w-full h-full object-cover"
          />
        </div>

        <!-- Información del usuario -->
        <div class="flex flex-col items-center md:items-start text-center md:text-left">
          <div class="text-2xl md:text-3xl font-bold text-[#418622]">
            Club Campo Verde
          </div>

          <!-- Ubicación con ícono -->
          <div class="text-base md:text-lg text-gray-600 font-medium mt-1 flex items-center">
            📍 Cali, Colombia.
          </div>

          <!-- Teléfono de contacto -->
          <div class="text-sm md:text-base text-gray-500 mt-1">
            📞 <span class="font-medium">+57 312 345 6789</span>
          </div>

          <!-- Botón "Unirse al Club" -->
          <div>
            <button
              *ngIf="false"
              class="mt-3 bg-[#418622] hover:bg-[#356915] text-white px-5 py-2 rounded-full shadow-md font-bold transition duration-300 flex items-center gap-2"
            >
              🤝 Unirse al Club
            </button>
          
            <button
              *ngIf="true"
              class="mt-3 bg-red-600 hover:bg-red-700 text-white px-5 py-2 rounded-full shadow-md font-bold transition duration-300 flex items-center gap-2"
            >
              ❌ Salir del Club
            </button>
          </div>
          

        </div>
      </div>
    </div>

    <!-- Sección de rating -->
    <div class="flex space-x-2">
      <div class="bg-white p-4 md:p-5 mt-4 md:mt-0 rounded-xl shadow-md border border-gray-300 flex flex-col items-center text-center">
        <div class="text-gray-500 text-xs md:text-sm uppercase tracking-widest">
          Miembros
        </div>
        <div class="text-3xl md:text-4xl font-extrabold text-green-700 mt-1">
          300
        </div>
      </div>
      <div class="bg-white p-4 md:p-5 mt-4 md:mt-0 rounded-xl shadow-md border border-gray-300 flex flex-col items-center text-center">
        <div class="text-gray-500 text-xs md:text-sm uppercase tracking-widest">
          Partidos jugados
        </div>
        <div class="text-3xl md:text-4xl font-extrabold text-green-700 mt-1">
          400
        </div>
      </div>
    </div>

  </div>

  <!-- Separador -->
  <hr class="my-8 border-gray-300" />

  <!-- Carrusel de partidos -->
  <div class="flex flex-col md:flex-row gap-x-10 w-full">
    <!-- Sección de partidos -->
    <div class="relative w-full md:w-2/3" *ngIf="selectDashboardState$ | async as matches">
      <div>
        <div class="text-xl md:text-4xl font-bold border-b-4 border-gray-300 mb-5">
          Últimos 10 partidos registrados en el club
        </div>
        <div class="overflow-x-auto scroll-smooth whitespace-nowrap space-x-4 p-4 flex" id="carousel">
          <app-match-result-card *ngFor="let match of matches.last10SinglesMatches" [matchData]="match"></app-match-result-card>
        </div>
      </div>
    </div>

    <!-- Sección de ranking -->
    <div class="w-full my-5 md:w-1/3 md:my-0" *ngIf="selectGeneralRankingStatus$ | async as ratings">
      <app-general-ranking [genralRanking]="ratings.ranking" title="Ranking"></app-general-ranking>
    </div>
  </div>
</div>
