<div *ngIf="!(reservationCreatedLoader$ | async); else loading">
  <div
    class="bg-white rounded-lg shadow-lg p-4 w-full max-w-full sm:p-6 sm:max-w-md"
  >
    <h2 class="text-base font-semibold text-center mb-3 sm:text-lg sm:mb-4">
      CREAR RESERVA
    </h2>

    <div class="mb-3 sm:mb-4">
      <div class="block text-gray-700 font-semibold mb-1 sm:text-sm">
        Día de la reserva:
      </div>
      <p class="text-gray-600 text-sm sm:text-base">
        {{ data.reservationInfo.date | timeFormat : "long" }}
      </p>
    </div>

    <div class="mb-3 sm:mb-4">
      <div class="block text-gray-700 font-semibold mb-1 sm:text-sm">Hora:</div>
      <div *ngFor="let hour of data.reservationInfo.hour">
        <p class="text-gray-600 text-sm sm:text-base">
          {{ hour | hourTimeFormat }}
        </p>
      </div>
    </div>

    <div class="mb-4 sm:mb-6">
      <label
        for="user"
        class="block text-gray-700 font-semibold mb-1 sm:text-sm"
        >Usuario:</label
      >
      <app-user-search-list
        (userReturn)="onUserSelected($event)"
      ></app-user-search-list>
    </div>

    <div
      class="flex flex-col space-y-2 sm:flex-row sm:justify-end sm:space-x-4 sm:space-y-0"
    >
      <app-button [typeBtn]="'submit'" [color]="'danger'" (click)="closeModal()"
        >Cancelar</app-button
      >

      <app-button
        [typeBtn]="'submit'"
        [color]="'success'"
        (click)="createReservation()"
        [disabled]="userReturn == null"
      >
        Crear reserva
      </app-button>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loader [message]="'Creando la reserva'"></app-loader>
</ng-template>
