<div
  class="bg-white shadow-lg rounded-lg flex flex-col lg:flex-row items-center lg:items-stretch justify-center w-full h-screen p-4 lg:p-8"
>
  <!-- Left Section -->
  <div
    class="w-full lg:w-1/2 lg:px-8 flex flex-col items-center justify-start overflow-y-auto h-full"
  >
    <div class="flex items-start justify-center mb-[64px] py-[16px]">
      <a href="/login">
        <img
          src="../../../../../assets/svg/FOREHAPP.svg"
          alt="ForehApp Logo"
          class="h-auto max-h-[80px] w-auto max-w-[297px] object-contain"
        />
      </a>
    </div>
    <div class="wfull lg:w-[572px]">
      <!-- Aquí se renderiza el contenido dinámico de las rutas -->
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Right Section -->
  <div class="hidden lg:block lg:w-1/2 h-full">
    <img
      src="../../../../../assets/backgrounds/polvo-ladrillo.jpg"
      alt="Tennis Court"
      class="h-full w-[572px] object-cover max-h-full rounded-2xl"
    />
  </div>
</div>
