<div class="flex border rounded-lg shadow-lg p-4 bg-white">
  <!-- Imagen a la izquierda -->
  <div class="w-[247px]">
    <img
      src="../../../../../assets/backgrounds/polvo-ladrillo.jpg"
      alt="Imagen"
      class="w-full h-full object-cover rounded-md"
    />
  </div>

  <!-- Información a la derecha -->
  <div class="w-[258px] pl-4">
    <!-- Fecha y hora -->
    <div>
      <div class="text-2xl font-semibold text-[#35691a]">
        {{ reservation.date | timeFormat : "medium" }}
      </div>
      <div class="text-lg text-[#35691a]">
        {{
          (reservation.initialHour | hourTimeFormat) +
            "-" +
            (reservation.endHour | hourTimeFormat)
        }}
      </div>
    </div>

    <!-- Lugar -->
    <div>
      <div class="text-base font-bold text-black">Lugar</div>
      <div class="text-base text-gray-800">{{ reservation.clubName }}</div>

      <!-- Cancha -->
      <div>
        <div class="text-base font-bold text-black">Cancha</div>
        <div class="text-base text-gray-800">
          {{ reservation.groupCourtNames }}
        </div>
      </div>

      <!-- Tidivo de cancha -->
      <div>
        <div class="text-base font-bold text-black">Tipo de Cancha</div>
        <div class="text-base text-gray-800">Polvo de ladrillo</div>
      </div>

      <!-- Link para cancelar -->
      <div class="flex justify-center mt-4">
        <a
          class="text-red-500 hover:underline text-base"
          (click)="cancelReservation()"
          >Cancelar Reserva</a
        >
      </div>
    </div>
  </div>
</div>
