<div *ngIf="selectMembershipClubs$ | async as selectMembershipClubs">
  <ng-container>
    <ng-container
      *ngIf="selectMembershipClubs.loadingActiveClubs; else clubsList"
    >
      <div class="flex justify-center items-center h-64">
        <app-loader></app-loader>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #clubsList>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div *ngFor="let club of selectMembershipClubs.activeClubs">
        <app-club-card [clubInfo]="club"> </app-club-card>
      </div>
    </div>
  </ng-template>
</div>
