<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
  <app-club-card
    logo="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnQ1Ck7996V7SxZI9ApQEPunJmGmscVUU6Jg&s"
    name="Club de Tenis Campo verde"
    city="Bogotá, Colombia"
    [members]="120"
  >
  </app-club-card>

  <app-club-card
    name="Elite Tennis Club"
    city="Medellín, Colombia"
    [members]="85"
  >
  </app-club-card>

  <app-club-card
    logo="https://via.placeholder.com/100"
    name="Grand Slam Tennis"
    city="Cali, Colombia"
    [members]="95"
  >
  </app-club-card>
</div>
