<div *ngIf="!showRegisterForm" class="mt-0">
  <form
    [formGroup]="formUser"
    novalidate
    class="space-y-4"
    (ngSubmit)="checkEmailAvailabe()"
  >
    <div class="relative">
      <app-input
        [control]="formUser.controls.email"
        [name]="'correo'"
        [type]="'email'"
        [placeholder]="'Ingresa tu correo'"
        [displayLabel]="false"
      ></app-input>
    </div>
    <div>
      <app-button
        typeBtn="submit"
        color="success"
        [loading]="statusUser === 'loading'"
        >Continue</app-button
      >
    </div>
  </form>
</div>

<div *ngIf="showRegisterForm">
  <form
    [formGroup]="registerForm"
    novalidate
    class="space-y-3 md:space-y-4 flex flex-wrap"
    action="#"
    (ngSubmit)="register()"
  >
    <div
      class="flex flex-col md:flex-row space-y-5 md:space-y-0 md:space-x-5 w-full"
    >
      <div class="w-full md:w-1/2">
        <app-input
          [control]="registerForm.controls['name']"
          [name]="'nombre'"
          [type]="'text'"
          [placeholder]="'Ingresa tu nombre'"
        ></app-input>
      </div>
      <div class="w-full md:w-1/2">
        <app-input
          [control]="registerForm.controls['lastname']"
          [name]="'apellido'"
          [type]="'text'"
          [placeholder]="'Ingresa tus apellidos'"
        ></app-input>
      </div>
    </div>

    <div
      class="flex flex-col md:flex-row space-y-5 md:space-y-0 md:space-x-5 w-full"
    >
      <div class="w-full md:w-1/2">
        <app-select
          [control]="registerForm.controls['gender']"
          [name]="'genero'"
          [options]="
            initialData && initialData.genders ? initialData.genders : []
          "
        ></app-select>
      </div>
      <div class="w-full md:w-1/2">
        <app-input
          [control]="registerForm.controls['birthdate']"
          [name]="'cumpleaños'"
          [type]="'date'"
          [placeholder]="'Selecciona tu fecha de nacimiento'"
        ></app-input>
      </div>
    </div>

    <div
      class="flex flex-col md:flex-row space-y-5 md:space-y-0 md:space-x-5 w-full"
    >
      <div class="w-full md:w-1/2">
        <app-select
          [control]="registerForm.controls['documentTypeId']"
          [name]="'tipoDeDocumento'"
          [options]="
            initialData && initialData.documentTypes
              ? initialData.documentTypes
              : []
          "
        ></app-select>
      </div>
      <div class="w-full md:w-1/2">
        <app-input
          [control]="registerForm.controls['document']"
          [name]="'documento'"
          [type]="'text'"
          [placeholder]="'Ingresa tu documento'"
        ></app-input>
      </div>
    </div>

    <div
      class="flex flex-col md:flex-row space-y-5 md:space-y-0 md:space-x-5 w-full"
    >
      <div class="w-full md:w-1/2">
        <app-select
          [control]="registerForm.controls['phoneTypeId']"
          [name]="'tipoDeTelefono'"
          [options]="
            initialData && initialData.phoneTypes ? initialData.phoneTypes : []
          "
        ></app-select>
      </div>
      <div class="w-full md:w-1/2">
        <app-input
          [control]="registerForm.controls['phone']"
          [name]="'telefono'"
          [type]="'text'"
          [placeholder]="'Ingresa tu numero telefonico'"
        ></app-input>
      </div>
    </div>

    <div class="w-full">
      <div>
        <app-input
          [control]="registerForm.controls['email']"
          [name]="'Correo'"
          [type]="'email'"
          [placeholder]="'Ingresa tu correo'"
        ></app-input>
      </div>
    </div>

    <div class="w-full">
      <div>
        <app-select
          [control]="registerForm.controls['categoryId']"
          [name]="'categoria'"
          [options]="initialData.categories ? initialData.categories : []"
        ></app-select>
      </div>
    </div>

    <div
      class="flex flex-col md:flex-row justify-center items-center space-y-5 md:space-y-0 md:space-x-5 w-full"
    >
      <div class="w-full md:w-1/2">
        <app-input
          [control]="registerForm.controls['password']"
          [name]="'contraseña'"
          [type]="'password'"
          [placeholder]="'••••••••'"
        ></app-input>
      </div>
      <div class="w-full md:w-1/2">
        <app-input
          [control]="registerForm.controls['confirmationPassword']"
          [name]="'confirmarContraseña'"
          [type]="'password'"
          [placeholder]="'••••••••'"
        ></app-input>
      </div>
    </div>

    <!-- Checkboxes centered -->
    <div class="flex flex-col w-full justify-center items-center space-y-5">
      <div class="flex items-center cursor-pointer">
        <app-checkbox
          [control]="registerForm.controls.allowNotification"
          [name]="'permitirNotificaciones'"
        ></app-checkbox>
      </div>
      <div class="flex items-center cursor-pointer">
        <app-checkbox
          [control]="registerForm.controls.agreeTerms"
          [name]="'aceptarTerminos'"
        ></app-checkbox>
      </div>
    </div>

    <!-- Submit button -->
    <div class="w-full">
      <app-button
        typeBtn="submit"
        color="success"
        [loading]="status === 'loading'"
        [disabled]="registerForm.invalid"
      >
        Registrarse
      </app-button>
    </div>
  </form>
</div>
