<div *ngIf="!showRegisterForm" class="mt-0">
  <form
    [formGroup]="formUser"
    novalidate
    class="space-y-4"
    (ngSubmit)="checkEmailAvailabe()"
  >
    <div class="relative">
      <app-input
        [control]="formUser.controls.email"
        [name]="'correo'"
        [type]="'email'"
        [placeholder]="'Ingresa tu correo'"
        [displayLabel]="false"
        class="w-full"
      ></app-input>
    </div>
    <div>
      <app-button
        typeBtn="submit"
        color="success"
        [loading]="statusUser === 'loading'"
        class="w-full"
        >Continuar</app-button
      >
    </div>
  </form>
</div>

<div *ngIf="showRegisterForm">
  <form
    [formGroup]="registerForm"
    novalidate
    class="space-y-4 flex flex-col"
    (ngSubmit)="register()"
  >
    <!-- Name and Lastname fields -->
    <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4">
      <div class="w-full">
        <app-input
          [control]="registerForm.controls['name']"
          [name]="'nombre'"
          [type]="'text'"
          [placeholder]="'Ingresa tu nombre'"
          class="w-full"
        ></app-input>
      </div>
      <div class="w-full">
        <app-input
          [control]="registerForm.controls['lastname']"
          [name]="'apellido'"
          [type]="'text'"
          [placeholder]="'Ingresa tus apellidos'"
          class="w-full"
        ></app-input>
      </div>
    </div>

    <!-- Gender and Birthdate fields -->
    <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4">
      <div class="w-full">
        <app-select
          [control]="registerForm.controls['gender']"
          [name]="'genero'"
          [description]="'Género'"
          [options]="initialData && genders ? genders : []"
          class="w-full"
        ></app-select>
      </div>
      <div class="w-full">
        <app-input
          [control]="registerForm.controls['birthdate']"
          [name]="'cumpleaños'"
          [type]="'date'"
          [placeholder]="'Selecciona tu fecha de nacimiento'"
          class="w-full"
        ></app-input>
      </div>
    </div>

    <!-- Document Type and Document fields -->
    <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4">
      <div class="w-full">
        <app-select
          [control]="registerForm.controls['documentTypeId']"
          [name]="'tipoDeDocumento'"
          [options]="
            initialData && initialData.documentTypes
              ? initialData.documentTypes
              : []
          "
          class="w-full"
        ></app-select>
      </div>
      <div class="w-full">
        <app-input
          [control]="registerForm.controls['document']"
          [name]="'documento'"
          [type]="'text'"
          [placeholder]="'Ingresa tu documento'"
          class="w-full"
        ></app-input>
      </div>
    </div>

    <!-- Phone Type and Phone fields -->
    <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4">
      <div class="w-full">
        <app-select
          [control]="registerForm.controls['phoneTypeId']"
          [name]="'tipoDeTelefono'"
          [description]="'Tipo de teléfono'"
          [options]="
            initialData && initialData.phoneTypes ? initialData.phoneTypes : []
          "
          class="w-full"
        ></app-select>
      </div>
      <div class="w-full">
        <app-input
          [control]="registerForm.controls['phone']"
          [name]="'telefono'"
          [description]="'Teléfono'"
          [type]="'text'"
          [placeholder]="'Ingresa tu numero telefonico'"
          class="w-full"
        ></app-input>
      </div>
    </div>

    <!-- Email field -->
    <div class="w-full">
      <app-input
        [control]="registerForm.controls['email']"
        [name]="'Correo'"
        [type]="'email'"
        [placeholder]="'Ingresa tu correo'"
        class="w-full"
      ></app-input>
    </div>

    <!-- Category field -->
    <div class="w-full">
      <app-select
        [control]="registerForm.controls['categoryId']"
        [name]="'categoria'"
        [description]="'Categoría'"
        [options]="initialData.categories ? initialData.categories : []"
        class="w-full"
      ></app-select>
    </div>

    <!-- Password and Confirm Password fields -->
    <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4">
      <div class="w-full">
        <app-input
          [control]="registerForm.controls['password']"
          [name]="'contraseña'"
          [type]="'password'"
          [placeholder]="'••••••••'"
          class="w-full"
        ></app-input>
      </div>
      <div class="w-full">
        <app-input
          [control]="registerForm.controls['confirmationPassword']"
          [name]="'confirmarContraseña'"
          [type]="'password'"
          [placeholder]="'••••••••'"
          class="w-full"
        ></app-input>
      </div>
    </div>

    <!-- Checkboxes -->
    <div class="flex flex-col space-y-4 items-center">
      <app-checkbox
        [control]="registerForm.controls.allowNotification"
        [name]="'permitirNotificaciones'"
        class="w-full"
      ></app-checkbox>
      <app-checkbox
        [control]="registerForm.controls.agreeTerms"
        [name]="'aceptarTerminos'"
        class="w-full"
      ></app-checkbox>
    </div>

    <!-- Submit button -->
    <div class="w-full">
      <app-button
        typeBtn="submit"
        color="success"
        [loading]="status === 'loading'"
        [disabled]="registerForm.invalid"
        class="w-full"
      >
        Registrarse
      </app-button>
    </div>
  </form>
</div>
