<div
  class="p-6 bg-white rounded-xl shadow-lg border border-gray-200 max-w-xl mx-auto"
>
  <!-- Encabezado de notificación -->
  <div
    class="flex items-center justify-center gap-3 p-4 rounded-lg"
    [ngClass]="{
      'bg-green-50 text-green-700': data.type === 'MATCH_CONFIRMED',
      'bg-red-50 text-red-700': data.type === 'MATCH_REJECTED',
      'bg-gray-100 text-gray-600':
        data.type !== 'MATCH_CONFIRMED' && data.type !== 'MATCH_REJECTED'
    }"
  >
    <ng-container [ngSwitch]="data.type">
      <ng-container *ngSwitchCase="'MATCH_CONFIRMED'">
        <span class="text-2xl">✅</span>
        <span class="text-lg font-semibold">
          El partido ha sido
          <span class="font-bold underline">CONFIRMADO</span>.
        </span>
      </ng-container>
      <ng-container *ngSwitchCase="'MATCH_REJECTED'">
        <span class="text-2xl">❌</span>
        <span class="text-lg font-semibold">
          El partido ha sido <span class="font-bold underline">RECHAZADO</span>.
        </span>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <span class="text-2xl">ℹ️</span>
        <span class="text-lg font-semibold">
          Estado desconocido para este partido.
        </span>
      </ng-container>
    </ng-container>
  </div>

  <!-- Detalles del partido -->
  <div class="my-6">
    <ng-container *ngIf="!isMatchLoading; else loadingMatch">
      <app-match-result-card
        [matchData]="selectedMatch!"
      ></app-match-result-card>
    </ng-container>

    <ng-template #loadingMatch>
      <app-loader></app-loader>
    </ng-template>
  </div>

  <!-- Botón -->
  <div class="flex justify-center mt-4">
    <button
      mat-button
      class="bg-blue-600 hover:bg-blue-700 text-white font-medium px-6 py-2 rounded-lg shadow-md transition duration-300"
      (click)="dialogRef.close()"
    >
      Cerrar
    </button>
  </div>
</div>
