<div>
  <div *ngIf="displayLabel">
    <label
      for="email"
      class="block mb-2 text-sm font-medium"
      [ngClass]="{
        'text-gray-900 dark:text-white': displayErrorMessage,
        'text-red-500': !displayErrorMessage
      }"
    >
      {{ description || functions.splitAndCapitalizeFirstLetter(name) }}
    </label>
  </div>

  <div class="relative">
    <input
      [type]="inputType"
      [name]="name"
      [id]="name"
      [ngClass]="{
        'border-red-500': shouldApplyRedBorder(),
        'border border-gray-300': true,
        'text-gray-900 sm:text-sm rounded-3xl focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500': true,
        'bg-white': (control.valid && control.dirty) || control.value !== ''
      }"
      [placeholder]="placeholder"
      [formControl]="control"
      (blur)="markAsBlurred()"
    />

    <!-- Mostrar el botón solo si el tipo es 'password' -->
    <button
      *ngIf="type === 'password'"
      type="button"
      (click)="togglePasswordVisibility()"
      class="absolute inset-y-0 right-0 pr-3 flex items-center"
    >
      <fa-icon
        [icon]="isPasswordVisible ? faEye : faEyeSlash"
        class="text-[#618622]"
      ></fa-icon>
    </button>
  </div>

  <div *ngIf="blurred && displayErrorMessage">
    <app-error-message [control]="control"></app-error-message>
  </div>
</div>
