<div
  mat-dialog-content
  class="bg-white rounded-lg shadow-md w-full flex justify-between items-center"
>
  <div class="flex w-full justify-between items-center space-x-3">
    <!-- Contenido de la reserva -->
    <div class="flex-grow">
      <div *ngIf="selectedReservation$ | async as reservation">
        <div class="text-3xl font-bold">{{ reservation.date }}</div>
        <div class="text-gray-600">
          {{ reservation.initialHour }} - {{ reservation.endHour }}
        </div>
        <div class="text-gray-600">Cancha {{ reservation.groupCourtId }}</div>
        <div class="text-gray-600">{{ reservation.club }}</div>
      </div>
      <div *ngIf="!(selectedReservation$ | async)">
        <p>No hay información de la reserva seleccionada.</p>
      </div>
    </div>

    <div mat-dialog-actions class="flex-shrink-0">
      <app-button
        [typeBtn]="'submit'"
        [color]="'danger'"
        (click)="cancelReservation()"
        >Cancelar reserva</app-button
      >
    </div>
  </div>
</div>
