<h1 class="text-center font-bold py-2 text-gray-700">
  Ingresa tu nueva contraseña
</h1>
<form [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="recovery()">
  <div>
    <div class="relative">
      <div class="mb-2">
        <app-input
          [control]="form.controls.newPassword"
          [placeholder]="'Ingresa la nueva contraseña'"
          [type]="showPassword ? 'text' : 'password'"
          [displayLabel]="false"
        ></app-input>
      </div>
    </div>
  </div>
  <div>
    <div class="relative">
      <app-input
        [control]="form.controls.confirmPassword"
        [placeholder]="'Confirma la nueva contraseña'"
        [type]="'password'"
        [displayLabel]="false"
      ></app-input>
    </div>
  </div>
  <div *ngIf="form.controls.confirmPassword.touched">
    <p
      *ngIf="form.hasError('mismatch')"
      class="font-medium text-red-500 text-xs mt-1 ml-1"
    >
      The password are not the same
    </p>
  </div>
  <div>
    <app-button
      typeBtn="submit"
      color="success"
      [loading]="status === 'loading'"
      >Recuperar contraseña</app-button
    >
  </div>
</form>
