<app-loader *ngIf="isLoading"></app-loader>

<div
  class="w-full bg-white shadow-lg rounded-lg overflow-hidden"
  *ngIf="!isLoading && (user$ | async) as user"
>
  <!-- Contenedor para hacer scroll horizontal en móviles -->
  <div class="overflow-x-auto">
    <table class="min-w-full w-full">
      <thead class="bg-[#418622]">
        <tr class="text-center text-white text-xs sm:text-sm">
          <th
            class="px-4 sm:px-6 py-2 sm:py-3 font-medium uppercase tracking-wider"
          >
            Posición
          </th>
          <th
            class="px-4 sm:px-6 py-2 sm:py-3 font-medium uppercase tracking-wider"
          >
            Nombre
          </th>
          <th
            class="px-4 sm:px-6 py-2 sm:py-3 font-medium uppercase tracking-wider"
          >
            Ranking
          </th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-200 text-center">
        <tr
          *ngFor="let player of ratings"
          [ngClass]="{ 'bg-yellow-200': player.userId === user.id }"
          (click)="onRowClick(player.userId)"
          class="cursor-pointer hover:bg-gray-100 active:bg-gray-200"
        >
          <td
            class="px-4 sm:px-6 py-2 sm:py-4 text-xs sm:text-sm font-medium text-gray-900"
          >
            {{ player.position }}
          </td>

          <td
            class="px-4 sm:px-6 py-2 sm:py-4 text-xs sm:text-sm text-gray-500 text-left flex items-center gap-2"
          >
            <span *ngIf="player.position === 1">🏆</span>
            <span *ngIf="player.position === 2">🥈</span>
            <span *ngIf="player.position === 3">🥉</span>
            {{ player.userName | titlecase }}
            {{ player.userLastname | titlecase }}
          </td>

          <td
            class="px-4 sm:px-6 py-2 sm:py-4 text-xs sm:text-sm text-gray-500"
          >
            {{ player.rating.toFixed(2) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
