<app-loader *ngIf="isLoading"></app-loader>

<div
  class="w-full bg-white shadow-lg rounded-lg overflow-hidden"
  *ngIf="!isLoading && (user$ | async) as user"
>
  <table class="w-full">
    <thead class="bg-[#418622]">
      <tr class="text-center">
        <th
          class="px-6 py-3 text-xs font-medium text-white uppercase tracking-wider"
        >
          Posición
        </th>

        <th
          class="px-6 py-3 text-xs font-medium text-white uppercase tracking-wider"
        >
          Nombre
        </th>
        <th
          class="px-6 py-3 text-xs font-medium text-white uppercase tracking-wider"
        >
          Ranking
        </th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 text-center">
      <tr
        *ngFor="let player of ratings"
        [ngClass]="{ 'bg-yellow-200': player.userId === user.id }"
      >
        <td
          class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"
        >
          {{ player.position }}
        </td>

        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-left">
          {{ player.userName | titlecase }}
          {{ player.userLastname | titlecase }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
          {{ player.rating.toFixed(2) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
