<div class="w-full">
  <!-- Título principal -->
  <div class="flex mt-4">
    <div class="text-2xl md:text-4xl font-bold border-b-4 border-gray-300 mb-5">
      Partidos
    </div>

    <div>
      <app-tab-selector
        [tabs]="[
          { label: 'Sencillos', value: 'SINGLES' },
          { label: 'Dobles', value: 'DOUBLES' }
        ]"
        [selectedTab]="matchType"
        (tabChange)="selectMatchTab($event)"
      ></app-tab-selector>
    </div>
  </div>

  <!-- Sección de pestañas para la navegación -->

  <div>
    <app-tab-selector
      [tabs]="[
        { label: 'Resultados', value: 'matches' },
        { label: 'Estadísticas', value: 'stats' }
      ]"
      [selectedTab]="selectedTab"
      (tabChange)="selectTab($event)"
    ></app-tab-selector>
  </div>

  <div class="tab-content">
    <!-- Tab de Canchas -->
    <div *ngIf="selectedTab === 'matches'">
      <app-matches-info-page
        hes-info-page
        [matchType]="matchType"
      ></app-matches-info-page>
    </div>
    <!-- Tab de Disponibilidad -->
    <div *ngIf="selectedTab === 'stats'">
      <app-matches-stats-page [matchType]="matchType"></app-matches-stats-page>
    </div>
  </div>
</div>
