<div class="w-full max-w-6xl mx-auto p-6">
  <!-- Título principal -->
  <h1 class="text-3xl font-bold mb-6 text-center">Configuración del club</h1>

  <!-- Sección de pestañas para la navegación -->
  <div class="tabs flex justify-center mb-6">
    <button
      [ngClass]="{
        'bg-blue-600 text-white': selectedTab === 'courts',
        'bg-gray-200 text-gray-600': selectedTab !== 'courts'
      }"
      class="tab-btn px-4 py-2 mx-2 rounded-md focus:outline-none"
      (click)="selectTab('courts')"
    >
      Canchas
    </button>
    <button
      [ngClass]="{
        'bg-blue-600 text-white': selectedTab === 'availability',
        'bg-gray-200 text-gray-600': selectedTab !== 'availability'
      }"
      class="tab-btn px-4 py-2 mx-2 rounded-md focus:outline-none"
      (click)="selectTab('availability')"
    >
      Disponibilidad
    </button>
    <button
      [ngClass]="{
        'bg-blue-600 text-white': selectedTab === 'cancellation',
        'bg-gray-200 text-gray-600': selectedTab !== 'cancellation'
      }"
      class="tab-btn px-4 py-2 mx-2 rounded-md focus:outline-none"
      (click)="selectTab('cancellation')"
    >
      Causas de cancelación
    </button>
  </div>

  <div class="tab-content">
    <!-- Tab de Canchas -->
    <div *ngIf="selectedTab === 'courts'">
      <app-courts-page></app-courts-page>
    </div>
    <!-- Tab de Disponibilidad -->
    <div *ngIf="selectedTab === 'availability'">
      <app-court-config-component></app-court-config-component>
    </div>
    <!-- Tab de Causas de cancelación -->
    <div *ngIf="selectedTab === 'cancellation'">
      <app-cancellation-causes-config></app-cancellation-causes-config>
    </div>
  </div>
</div>
