<form
  [formGroup]="loginForm"
  novalidate
  class="space-y-4 font-montserrat"
  action="#"
  (ngSubmit)="doLogin()"
>
  <div>
    <app-input
      [control]="loginForm.controls['email']"
      [name]="'Correo'"
      [description]="'Correo electrónico'"
      [type]="'email'"
      #emailInput
    ></app-input>
  </div>

  <div>
    <app-input
      [control]="loginForm.controls['password']"
      [name]="'Contraseña'"
      [type]="'password'"
    ></app-input>

    <!-- Mensaje de error para credenciales inválidas -->
    <div *ngIf="invalidCredentials$ | async">
      <p class="text-red-700 text-sm font-montserrat">
        El correo o la contraseña son incorrectos. Por favor, verifica e intenta
        de nuevo.
      </p>
    </div>
  </div>

  <div class="flex items-center justify-between">
    <div class="flex items-start cursor-pointer">
      <div class="flex items-center h-5">
        <input
          id="remember"
          aria-describedby="rememberMe"
          type="checkbox"
          formControlName="rememberMe"
          class="cursor-pointer w-4 h-4 border border-gray-300 rounded focus:ring-3 focus:ring-primary-300  checkbox-custom"
        />
      </div>
      <div class="ml-3 text-sm">
        <label
          for="remember"
          class="cursor-pointer text-gray-500 -gray-300 font-montserrat"
          >Recordarme</label
        >
      </div>
    </div>
    <a
      routerLink="/forgot-password"
      class="text-sm font-medium text-[#418622] hover:underline  font-montserrat"
      >¿Olvidaste tu contraseña?</a
    >
  </div>

  <button
    type="submit"
    class="w-full text-white bg-[#418622] hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-montserrat font-bold rounded-3xl text-sm px-5 py-2.5 text-center"
    [disabled]="loadingLogin$ | async"
  >
    <!-- Loader o texto del botón basado en el estado de carga -->
    <ng-container *ngIf="loadingLogin$ | async; else loginText">
      <svg
        class="animate-spin h-5 w-5 mx-auto text-white"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <circle
          class="opacity-25"
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"
        ></circle>
        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8v8z"
        ></path>
      </svg>
    </ng-container>
    <ng-template #loginText>Iniciar sesión</ng-template>
  </button>
</form>

<style>
  .checkbox-custom:checked {
    background-color: #418622;
    border-color: #418622;
  }
  .checkbox-custom {
    background-color: white;
  }
</style>
