<div
  class="container mx-auto p-8 bg-gray-50 rounded-xl shadow-xl max-w-4xl overflow-x-hidden overflow-y-auto"
>
  <!-- Título de la sección -->
  <div
    class="text-3xl sm:text-4xl font-semibold text-center text-gray-800 mb-6 sm:mb-10"
  >
    Publicar Resultado
  </div>

  <div class="tabs flex justify-center mb-6">
    <app-tab-selector
      [tabs]="[
        { label: 'Sencillos', value: 'SINGLES' },
        { label: 'Dobles', value: 'DOUBLES' }
      ]"
      [selectedTab]="matchType"
      (tabChange)="selectMatchType($event)"
    ></app-tab-selector>
  </div>

  <div class="mb-6 sm:mb-8">
    <label
      for="match-date"
      class="block text-lg sm:text-xl font-medium text-gray-700 mb-3"
    >
      Fecha del partido
    </label>
    <app-date-selector
      [initialDate]="matchDate"
      [minDate]="'1900-01-01'"
      [maxDate]="formattedToday"
      (dateSelected)="onDateChange($event)"
    ></app-date-selector>
  </div>

  <!-- Sección de búsqueda y selección del Jugador 1 -->
  <div>
    <div class="mb-6 sm:mb-8">
      <div *ngIf="!player1" class="p-6 bg-white rounded-lg shadow-md">
        <label
          for="search-player"
          class="block text-lg sm:text-xl font-medium text-gray-700 mb-3"
        >
          Añadir jugador
        </label>

        <div class="mb-4 sm:mb-6">
          <app-user-search-list
            (userReturn)="onUserSelectedP1($event)"
            [allowCreateUser]="false"
            [filterUserStatus]="[2]"
          ></app-user-search-list>
        </div>
      </div>

      <!-- Mostrar tarjeta del Jugador 1 cuando se selecciona -->
      <div *ngIf="player1" class="mt-6 sm:mt-8">
        <app-user-card
          [user]="{
            name: player1.name || '',
            image: player1.image || '',
            index: 1
          }"
          [winner]="winner === 'player1'"
          [allowDelete]="user?.role === CLUB_ADMIN_ROLE"
          (removeUser)="removePlayer($event)"
          [doubles]="matchType === 'DOUBLES'"
        ></app-user-card>
      </div>
    </div>

    <div *ngIf="matchType === 'DOUBLES'">
      <div *ngIf="!player3" class="p-6 bg-white rounded-lg shadow-md">
        <label
          for="search-player"
          class="block text-lg sm:text-xl font-medium text-gray-700 mb-3"
        >
          Añadir jugador
        </label>

        <div class="mb-4 sm:mb-6">
          <app-user-search-list
            (userReturn)="onUserSelectedP3($event)"
            [allowCreateUser]="false"
            [filterUserStatus]="[2]"
          ></app-user-search-list>
        </div>
      </div>

      <!-- Mostrar tarjeta del Jugador 2 cuando se selecciona -->
      <div *ngIf="player3" class="mt-6 sm:mt-8">
        <app-user-card
          [user]="{
            name: player3.name || '',
            image: player3.image || '',
            index: 3
          }"
          [winner]="winner === 'player1'"
          (removeUser)="removePlayer($event)"
          [allowDelete]="true"
          [doubles]="matchType === 'DOUBLES'"
        ></app-user-card>
      </div>
    </div>

    <!-- Sección de sets y games -->
    <div class="flex justify-center my-6 sm:mb-8">
      <app-set-result-component
        (resultEmitter)="handleResult($event)"
      ></app-set-result-component>
    </div>

    <!-- Sección de búsqueda y selección del Jugador 2 -->
    <div class="mb-6 sm:mb-8">
      <div>
        <div *ngIf="!player2" class="p-6 bg-white rounded-lg shadow-md">
          <label
            for="search-player"
            class="block text-lg sm:text-xl font-medium text-gray-700 mb-3"
          >
            Añadir jugador
          </label>

          <div class="mb-4 sm:mb-6">
            <app-user-search-list
              (userReturn)="onUserSelectedP2($event)"
              [allowCreateUser]="false"
              [filterUserStatus]="[2]"
            ></app-user-search-list>
          </div>
        </div>

        <!-- Mostrar tarjeta del Jugador 2 cuando se selecciona -->
        <div *ngIf="player2" class="mt-6 sm:mt-8">
          <app-user-card
            [user]="{
              name: player2.name || '',
              image: player2.image || '',
              index: 2
            }"
            [winner]="winner === 'player2'"
            (removeUser)="removePlayer($event)"
            [allowDelete]="true"
            [doubles]="matchType === 'DOUBLES'"
          ></app-user-card>
        </div>
      </div>

      <div *ngIf="matchType === 'DOUBLES'">
        <div *ngIf="!player4" class="p-6 bg-white rounded-lg shadow-md">
          <label
            for="search-player"
            class="block text-lg sm:text-xl font-medium text-gray-700 mb-3"
          >
            Añadir jugador
          </label>

          <div class="mb-4 sm:mb-6">
            <app-user-search-list
              (userReturn)="onUserSelectedP4($event)"
              [allowCreateUser]="false"
              [filterUserStatus]="[2]"
            ></app-user-search-list>
          </div>
        </div>

        <!-- Mostrar tarjeta del Jugador 2 cuando se selecciona -->
        <div *ngIf="player4" class="mt-6 sm:mt-8">
          <app-user-card
            [user]="{
              name: player4.name || '',
              image: player4.image || '',
              index: 4
            }"
            [winner]="winner === 'player2'"
            (removeUser)="removePlayer($event)"
            [allowDelete]="true"
            [doubles]="matchType === 'DOUBLES'"
          ></app-user-card>
        </div>
      </div>
    </div>
    <div *ngIf="(sharedClubs?.length ?? 0) > 0">
      <div>
        {{
          sharedClubs.length === 1
            ? '¿Deseas publicar este resultado como parte del club "' +
              sharedClubs[0].name +
              '"?'
            : "¿Por cuál club deseas publicar este resultado?"
        }}
      </div>

      <select [(ngModel)]="publishForClub">
        <ng-container *ngIf="sharedClubs.length === 1">
          <option [ngValue]="true">Sí</option>
          <option [ngValue]="false">No</option>
        </ng-container>
        <ng-container *ngIf="sharedClubs.length > 1">
          <option *ngFor="let club of sharedClubs" [ngValue]="club.clubId">
            {{ club.name }}
          </option>
        </ng-container>
      </select>
    </div>

    <!-- Botones con tamaños iguales -->
    <div
      class="flex flex-col sm:flex-row sm:justify-between mt-1 sm:mt-2 w-full"
    >
      <!-- Botón para publicar el resultado -->
      <app-button
        class="w-full sm:w-64 pt-4 sm:order-2 text-xl sm:text-2xl font-semibold"
        color="success"
        [disabled]="!canPublishResult"
        (click)="publishResult()"
      >
        Publicar Resultado
      </app-button>

      <!-- Botón para cancelar -->
      <app-button
        class="w-full sm:w-64 pt-4 sm:order-1 text-xl sm:text-2xl font-semibold"
        color="danger"
        [mat-dialog-close]="true"
      >
        Cancelar
      </app-button>
    </div>
  </div>
</div>
